Package: com.insanj.closeall
Name: CloseAll
Pre-Depends: firmware (>= 7.0)
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Close all tabs in Safari.
 Hold on any individual close tab button (X) in Safari to close all tabs.
Maintainer: Julian Weiss <me@insanj.com>
Author: Julian (insanj) Weiss
Section: Tweaks
